@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 112rem;
  margin: auto;
  font-family: "Roboto";
}

#main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#header-main{
  height: 3.4375rem;
  padding: 0.8125rem 0.9375rem 0.75rem 1.5rem;
  box-shadow: 0 1px 0.25rem 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}


.Logo_Cloud_Access {
  display: flex;
  align-items: center;
}

#openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: #111;
  padding: 10px 15px;
  border: none;
  display: none;
}

.Logo_Cloud_Access:hover{
  cursor: pointer;
}
#Path {
  width: 2.25rem;
  height: 1.54375rem;
  flex-grow: 0;
  background-color: #e20074;
}

.CLOUD {
  flex-grow: 0;
  padding: 0.3125rem;
  color: #e20074;
  font-weight: bold;
}
.ACCESS {
  flex-grow: 0;
  padding: 0.3125rem;
  font-weight: bold;
  color: #3e3e3e;
}
.profile{
    display: flex;
}

.profile{
cursor: pointer;
}

.Oval {
  width: 1.875rem;
  height:  1.875rem;
  margin: 0 0.625rem 0 0.625rem;
  padding:  0.4125rem  0.5125rem 0.40625rem 0.4625rem;
  background-color: #f2f4f8;
  border-radius: 50%;
}
.Shape {
  width:  0.9rem;
  height: 1.05625rem;
  flex-grow: 0;
}
.Oval_p {
  height: 3.125rem;
  margin: -0.625rem 0 0 0;
  border-radius: 50%;
}
.names {
  display: flex;
  flex-direction: column;
}

.JohnSmith {
  font-size: 0.9rem;
  text-align: right;
  color: #252a31;
}
.T-Mobile-USA {
  opacity: 0.5;
  font-size: 0.625rem;
  font-weight: bold;
  padding-left: 0.6rem;
  color: #252a31;
}

.main-coontainer{
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}



#nav-container {
  width: 16.5%;
  box-shadow: 0 0.0625rem 0.25rem 0 #dfe3e7;
  background-color: #fff;
  z-index: 1;
  transition : all 500ms ease 0s;
}

#closebtn {
  font-size: 25px;
  display: none;
  position: absolute;
  top: 0;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 0.625rem  0.25rem 1.5rem;
  height: 23.75rem;
}

.Your-GroupsPacks {
    font-size: 0.8125rem;
    font-weight: bold;
    letter-spacing: 0.03125rem;
    color: #e20074;
  }

  .Your-GroupsPacks {
    cursor: pointer;
  }

  .You-dont-have-acces {
    opacity: 0.4;
    font-size:  0.75rem;
    text-align: left;
    color: #000;
    font-weight: bold;
  }


  .Line-11 {
    width: 100%;
    border: solid 0.0625rem #f2f4f8;
  }

  .Your-Requests {
    font-size: 0.8125rem;
    font-weight: bold;
    letter-spacing: 0.03125rem;
    text-align: left;
    color: #e20074;
  }

  .Your-Requests:hover {
    cursor: pointer;
  }

  .Rectangle-Copy_nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }

  .Rectangle-Copy_nav:hover{
    cursor: pointer;
   
  }

  .Rectangle-Copy_nav:hover .Rectangle-Copy-2{
    background-color: #ea168b;
  }

  .Rectangle-Copy_nav:hover .Pending{
    color: #4a4a4a;
  }

  .Pending {
    font-size: 0.8125rem;
    font-weight: bold;
    line-height: 2.23rem;
    text-align: left;
    color: #cbcbcb;
  }

.Rectangle-Copy-2 {
  width: 1.375rem;
  height: 1.125rem;
  padding: 0.1875rem 0.875rem 1.0625rem 0.5rem;
  border-radius: 0.75rem;
  background-color: #cbcbcb;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  margin-top: 0.3125rem;
}
  
 
.Line-11-Copy {
  width: 100%;
  border: solid 0.0625rem #f2f4f8;
}

  .Your-Approvals {
    font-size: 0.8125rem;
    font-weight: bold;
    letter-spacing: 0.03125rem;
    text-align: left;
    color: #e20074;
  }

  .Your-Approvals:hover{
    cursor: pointer;
  }

  .You-dont-have-any-a {
    opacity: 0.4;
    font-size: 0.75rem;
    text-align: left;
    color: #000;
  }


  .Line-11-Copy-4 {
    width: 100%;
    border: solid 0.0625rem #f2f4f8;
  }
  ::-webkit-scrollbar {
    width: 0.3125rem;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.3125rem grey; 
    border-radius: 0.625rem;
  }
   
  ::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-radius: 0.625rem;
  }

  #Groups-container::-webkit-scrollbar { display: none;}
  

  .Rectangle-Copy_all_group {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-left: 1.5rem;
    color: #46475c
  }
  .Rectangle-Copy_all_group:hover{
    background-color: #e20074;
    color: #fff;
    cursor: pointer;
  } 

  .Rectangle-Copy_all_group .Shape {
    width: 0.9375rem;
    height:0.9375rem;
    flex-grow: 0;
    flex-grow: 0;
  }

  .ALL-GROUPS {
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.03125rem;
    text-align: left;
    padding-left: 0.625rem;
  }
  


  .content-section {
    width: 83.5%;
    background-color: #f3f6f9;
    overflow-x: hidden;
    padding: 1.5625rem;
    z-index: 0;
    overflow-y: hidden;
  }
  .Rectangle-Copy-4 {
    padding-bottom: 0.75rem;
    box-shadow: inset 0 -0.0625rem 0 0 #e9e9e9;
    background-color: #f3f6f9;
  }

  .header-text {
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    text-align: left;
    color: #ea168b;
  }

  .header-text:hover{
    cursor: pointer;
  }
  
  .recc_container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.1875rem;
    padding-bottom: 0.4375rem;
  }

  .recc-text {
    font-family: "Roboto";
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.104375rem;
    text-align: left;
    color: #676767;
  }


  .Rectangle-Copy-17 {
    width: 1.125rem;
    height: 1.125rem;
    flex-grow: 0;
    border-radius: .625rem;
    background-color: #dfe3e7;
  }

  .Rectangle-Copy-17:hover{
    cursor: pointer;
  }

  #Groups-container {
    display: flex;
    gap: 0.5rem;
    overflow-x: scroll;
    margin-bottom: 0.875rem;
  }

  .Groups {
    display: flex;
    align-items: center;
    width: 13.75rem;
    height: 3.75rem;
    padding: 0.3125rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.0625rem 0.3125rem 0 rgb(126 142 177 / 30%);
    background-color: #fff;
    gap: .625rem;
  }

  .Groups:hover{
    cursor: pointer;
  }

  .Group-icon {
    border-radius: 50%;
    width: 1.625rem;
    height: 1.625rem;
  }

  .Add-icon {
    width: 1.375rem;
    height: 1.375rem;
  }

  .ABC-Security-Groups {
    width: 6.875rem;
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .John-Smith-Lisando {
    width:7.8125rem;
    opacity: 0.5;
    font-family: "Roboto";
    font-size: 0.7rem;
    text-align: left;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

 .Group_details {
  display: flex;
  flex-direction: column;
  padding: 1.5625rem 0.48125rem 1.875rem 1.59375rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.0625rem 0.3125rem 0 rgb(126 142 177 / 30%);
  background-color: #fff;
 } 

 .search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:  0.75rem;
}
.All-Groups {
    opacity: 0.8;
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    text-align: left;
    color: #e20074;
}

.All-Groups:hover {
cursor: pointer;
}

#search-field {
    height: 1.875rem;
    width: 12.5rem;
    background: url(./images/icon_search.png) no-repeat scroll 0.4375rem;
    padding-left: 1.875rem;
    border-radius: 0.1875rem;
    border: 0.0625rem solid #dee3e6;
    font-size: 0.8rem;
    outline: none;
}

.New-group {
  width: 6.575rem;
  height: 1.875rem;
  border-radius: 0.1875rem;
  background-color: #ea168b;
  color: white;
  border: 0.0625rem;
  margin-left: 0.3rem;
}

.New-group:hover {
cursor: pointer;
}

.group-names {
display: grid;
grid-template-columns: 1.9fr 1fr 1.5fr 1fr;
height: 2.5rem;
}

.t-header {
  display: flex;
    align-items: center;
    box-shadow: 0 -0.0625rem 0 0 #dfe3e7, inset 0 -0.0625rem 0 0 #dee3e6;
    background-color: #f8fafb;
    gap: 1.5rem;
}


#check-box-1 {
  border: solid 0.0625rem #c3c7ca;
  background-color: #fff; 
    
}
#g-name {
  font-family: "Roboto";
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.03125rem;
  text-align: left;
  color: #000;
}

#g-name:hover {
  cursor: pointer;
}

#g-owner {
  box-shadow: 0 -1px 0 0 #dfe3e7, inset 0 -1px 0 0 #dee3e6;
  background-color: #f8fafb;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.03125rem;
  text-align: left;
  color: #000;
  display: flex;
  align-items: center;
}

#g-owner:hover{
  cursor: pointer;
}

.g-on {
  box-shadow: 0 -1px 0 0 #dfe3e7, inset 0 -1px 0 0 #dee3e6;
  background-color: #f8fafb;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.03125rem;
  text-align: left;
  color: #000;
  display: flex;
  align-items: center;
}

.g-on:hover{
  cursor: pointer;
}
.g-a {
  box-shadow: 0 -1px 0 0 #dfe3e7, inset 0 -1px 0 0 #dee3e6;
  background-color: #f8fafb;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.03125rem;
  text-align: left;
  color: #000;
  display: flex;
  align-items: center;
  padding-left: 0.4375rem;
}

.g-a:hover {
  cursor: pointer;
}


.table-row {
  display: grid;
  grid-template-columns: 1.9fr 1fr 1.5fr 1fr;
  height: 2.5rem;
}

.table-c1 {
    box-shadow: inset 0 -1px 0 0 #dfe3e7;
    background-color: #fff;
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.table-c1:hover {
  cursor: pointer;
}

.t-name {
  display: flex;
}

.g-icon {
  width: 1.125rem;
    height: 1.125rem;
    flex-grow: 0;
}

.group-name {
  margin-left: 0.4125rem;
  font-family: "Roboto";
  font-size: 0.8rem;
  text-align: left;
  color: #e20074;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 15.625rem;
}

.table-c2 {
    box-shadow: inset 0 -1px 0 0 #dfe3e7;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.table-c2:hover{
  cursor: pointer;
}
.profile-c2 {
  width: 0.8125rem;
  height: 0.8125rem;
}

.group-own {
  margin: 0 0 0 0.40625rem;
    font-family: "Roboto";
    font-size: 0.8rem;
    text-align: left;
    color: #4a4a4a;
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 9.375rem;
}

.table-c3 {
    box-shadow: inset 0 -0.0625rem 0 0 #dfe3e7;
    background-color: #fff;
    font-family: "Roboto";
    font-size: 0.8rem;
    text-align: left;
    color: #4a4a4a;
    display: flex;
    align-items: center;
}

.table-c3:hover{
  cursor: pointer;
}

.Name {
    font-size: 0.8rem;
    color: #4a4a4a;
    text-align: left;
    text-decoration: underline;
    padding-left: 0.25rem;
}

.table-c4 {
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 0 0 #dfe3e7, inset 0 -1px 0 0 #dee3e6;
}

.button:hover{
  cursor: pointer;
  background-color: #ea168b;
  color: #fff;
}

.button {
  width: 4.875rem;
  height: 1.5625rem;
  font-size: 0.75rem;
  border-radius: 0.1875rem;
  border: solid 1px #ea168b;
  background-color: #fff;
  color: #ea168b;
}

.Group-34 {
  display: flex;
  justify-content: flex-end;
  height: 1.25rem;
  padding-top: 8px;
}

.Showing-10---20 {
  padding: 0.1875rem 0.5625rem 0px 0;
  font-size: 0.8em;
  text-align: left;
  color: rgb(103, 103, 103);
}

.Line-10-Copy {
  width: 0.0625rem;
  height: 1.25rem;
  opacity: 0.2;
  border: solid 0.0625rem #979797;
}

.Goto {
  height: 0.8em;
  padding: 0.1875rem 0.35625rem 0.1875rem 0.76875rem;
  font-family: "Roboto";
  font-size: 0.8em;
  text-align: left;
  color: #676767;
}

.R {
  width: 1.7125rem;
  height: 1.25rem;
  margin: 0  0.6rem 0 0.35625rem;
  border: solid 0.0625rem #979797;
  background-color: #fff;
  outline: none;
}

.num2 {
  padding: 0.1875rem 0.5625rem 0.1875rem 0.5rem;
  font-family: "Roboto";
  font-size: 0.8rem;
  text-align: left;
  color: #676767;
}

.num2:hover{
  cursor: pointer;
}

.num1 {
  color: #ea168b;
}

.Line-10 {
  width: 0.0625rem;
  height: 1.25rem;
  opacity: 0.2;
  border: solid 0.0625rem #979797;
}

.Rectangle-Copy-19 {
  width: 1.125rem;
    height: 1.125rem;
    flex-grow: 0;
    margin: 0.0625rem 0.5rem 0.0625rem 0.5875rem;
    border-radius: .625rem;
    background-color: #dfe3e7;
}

.Rectangle-Copy-19:hover {
  cursor: pointer;
}

.group-body{
  overflow-y: scroll;
  height: 15.125rem;
}

/* #nav-wrapper {
  display: none;
} */

#cls-icn {
  display: none;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 25px;
  margin-left: 50px;
}

/* .cls-wrap {
  display: none;
} */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.nav-style {
  display: block;
  width: 70%;
  height: 100%;
  position:fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

#g-sort {
  margin-left: 15px;
}

#date-sort{
  margin-left: 15px;
}

@media only screen and (min-width:1790px){
  body {
    background-color: lightpink;
  }
}

@media only screen and (min-width:2400px){
  html{
    font-size: 22px;
  }
  body {
    background-color: lightpink;
  }
} 

@media only screen and (min-width:2800px){
  html{
    font-size: 28px;
  }
  body {
    background-color: lightpink;
  }
} 

@media only screen and (min-width:3100px){
  html{
    font-size: 32px;
  }
  body {
    background-color: lightpink;
  }
} 





@media only screen and (max-width:1140px ){ 
  html{
    font-size: 18px;
  }
  .arrrow-container{
    display: block;
  }
  .group-own {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 4.5rem;
  }
  .group-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:  4rem;
  }
  .group-body {
    overflow-y: auto;
    height: auto;
  }

}



/* @media screen and (min-width:769px) and (max-width:1024px) {
  html{
    font-size: 18px;
  }
} */



/* @media only screen and (max-width:768px) and (min-width:650px){
  .group-body {
    overflow-y: auto;
    height: auto;
} */




@media only screen and (max-width:650px){
  /* .cls-wrap {
    display: block;
     display: flex;
    justify-content: end;
  }  */
  .nav-section {
    padding-top: 40px;
  }
  
 .cls-icn{
   width: 25px;
   display: block;
   color: black;
   font-size: 1.5rem;
   position: fixed;
   top: 0;
   right: 30%;
   /* text-align: right; */
   /* padding-bottom: 2rem; */
 }

  html{
    font-size: 18px;
  }

  /* #nav-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.5s;
  } */

  #nav-container {
    /* display: none; */
    overflow-x: hidden;
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    transition : all 500ms ease 0s;
    
  }
  .content-section {
    width: 100%;
    padding: 0;
    overflow-y:auto;
    padding: 0 20px 0 20px;
  }
  .Rectangle-Copy-4 {
    /* padding: 1.25rem;
    padding-bottom: 1rem; */
    padding-top: 1.25rem;
  }
  
  /* .arrrow-container {
    display: none;
  } */
  .Groups {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    /* padding: 0.7rem 0.3125rem; */
    padding: 0;
    gap: 0;
  }
  .ABC-Security-Groups {
    width: 8.75rem;
  }
  .John-Smith-Lisando {
    width: 8.75rem;
  }
  .Group_details {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
  }
  .search-container {
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 0.3125rem;
    margin-bottom: 0.5rem;
  }
  .wrap {
    width: 100%;
  }
  #g-owner {
    display: none;
  }
  .g-on{
    display: none;
  }
  .group-names {
    grid-template-columns: 2fr 1fr;
    width: 100%;
  }
  .table-c2 {
    display: none;
  }
  .table-c3 {
    display: none;
  }
  .table-row {
    grid-template-columns: 2fr 1fr;
  }
  .group-name{
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  .find-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: start;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  #Groups-container {
    height: 3.2rem;
    width: 20rem;
    overflow-x: scroll;
    width: 100%;
  }
  .Group-34 {
    display: flex;
    justify-content: center;
  }
  #search-field {
    width: 100%;
    margin-bottom: 0.3rem;
  }
  .All-Groups{
    margin: 0;
    padding-bottom: 0.5rem;
  }
  .group-body {
    height: auto;
    overflow-y: auto
  }
  .Rectangle-Copy-19 {
    display: none;
  }
  .main-coontainer{
    overflow-x: hidden;
  }
  #header-main {
    padding: 0;
    align-items: center;
  }
  .profile {
    height: 1.875rem;
  }
  #openbtn {
    display: block;
  }
  .CLOUD {
    display: none;
  }
  .ACCESS{
    display: none;
  }
}

@media only screen and (min-width:1510px){
  .group-body{
    height: 19.125rem;
  }
}
